body, html, ul, li {
    padding: 0;
    margin: 0;
    display: block;
    font: normal 12px/1.5 'microsoft yahei';
    overflow: hidden;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
body{
    overflow:hidden;
    overflow-y: auto;
    position: relative;
    min-width: 1024px;
}
span {
    font: normal 12px/1.5 'microsoft yahei';
}
li {
    list-style: none;
}
input {
    outline: none;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {    text-decoration: none;
}

body .fromLayerArea{

    z-index: 101;

    overflow: hidden;

    padding: 0;

    display: block;

    box-sizing: border-box;

    background-color: white;
}
body .fromLayerArea>.rows{

    display: block;

    padding: 0;

    box-sizing: border-box;

    overflow: hidden;

    margin: 20px auto 0 auto;
}
body .fromLayerArea>.rows>span{

    float: left;

    margin-left: 46px;

    height: 38px;

    line-height: 38px;

    font-size: 13px;

    color: #6f6c6c;

    overflow: hidden;

    box-sizing: border-box;

    text-align: right;
}
body .fromLayerArea>.rows>input{

    height: 30px;

    box-sizing: border-box;

    overflow: hidden;

    padding: 0;

    width: 291px;

    border-radius: 9px;

    text-align: left;

    border: 1px solid #a5a3a3;

    color: #828282;

    padding-left: 9px;

    margin: 4px 43px 0 13px;
}
body .fromLayerArea>.bottom{

    padding: 0;

    margin: 7px 0 16px 0;

    overflow: hidden;

    box-sizing: border-box;

    display: block;
}
body .fromLayerArea>.bottom>a{

    display: block;

    float: left;

    width: 74px;

    text-align: center;

    height: 31px;

    line-height: 31px;

    color: white;

    background-color: #21c5a7;

    margin: 12px 0 0 87px;

    border-radius: 8px;
}
body .fromLayerArea>.bottom>.save{

}
body .fromLayerArea>.bottom>.cancel{

    background-color: #848484;
}


/* common */
 .clearfix {
    clear:both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.text-left {
    text-align:left;
}
.text-right {
    text-align:right;
}
img {
  vertical-align: middle;
  border:0px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
